@tailwind base;
@tailwind components;
@tailwind utilities;


html.dark {
  color-scheme: dark;
}

body {
  @apply bg-slate-100 text-slate-900;
}

html.dark body {
  @apply bg-slate-900 text-slate-100;
}

